# Build related
build/
android/app/build/
android/app/.cxx/
android/build/
android/.gradle/
flutter_*.png
!assets/app_icon.png

# Dart related
.packages
.pub/
.dart_tool/

# Secrets (do not commit)
*.json
!android/app/google-services-TEMPLATE.json

# Database
*.db
*.db-shm
*.db-wal